.nav1 {
  min-height: 80px;
  top: 0px;
  width: 100%;
  display: flex;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  z-index: 9999;
}

.logo {
  width: 10%;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 50px;
  text-decoration: none;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: -5px -3px 3px black;
  transition: 1s;
}

.navlinks {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.link-acc, .link-con, .link-pro, .link-exp {
  font-size: 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 8px;
  transition: 1s;
}

.link-acc:hover, .link-con:hover, .link-pro:hover, .link-exp:hover {
  text-shadow: -12px -4px 5px black;
  transition: 1s;
}

@media (max-width: 768px) {
  .git, .langages {
    display: none;
  }
}