@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --line_color: #000;
  --back_color: #fff;
  --delta: 50px;
}

body {
  background: black;
  font-family: Poppins, serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}