
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --line_color: #000;
  --back_color: #fff;
  --delta: 50px;
}

body{
  background:black;
  font-family: Poppins, serif;
}
html{
  scroll-behavior: smooth;
}
h3 {
  font-size: 300%;
  color: white;
  text-align: center;
  letter-spacing: 20px;
  text-shadow: 13px 12px 15px black;
}
.parallax-window {
    min-height: 110vh;
    background: transparent;
}
.space{
    background-color: rgb(0, 0, 0);
    height: 20px;
    z-index: 10000;
}
::-webkit-scrollbar {
  display: none;
}
.nav1{
    min-height: 80px;
    top: 0px ;
    width: 100%;
    display: flex;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    z-index: 9999;
}
.logo{
    width: 10%;
    font-size: 30px;
    padding-top : 10px;
    padding-left: 50px;
    text-decoration: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    text-shadow: -5px -3px 3px black;
    transition: 1s;
}
.git {
  position: fixed;
  z-index: 10000;
  top: 10px;
  left: 0px;
  margin-top: auto;
  margin-bottom: auto;
}
.git a{
    font-size: 30px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    text-shadow: -5px -3px 3px black;
    transition: 1s;
}
.git:hover{
    text-shadow: -12px -4px 5px black;
    transition: 1s;
    transform: scale(1.5);
}
.langages{
  position: fixed;
  z-index: 10000;
  top: 0px;
  right: 0px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: 1s;
}
.langages p{
  margin-right: 5px;
  color: white;
}
.langages img{
  width: 90px;
}
.langages:hover{
  text-shadow: 13px -9px 5px black;
  transition: 0.5 s;
  transform: scale(2) translate(-30%, 20%);
}

.navlinks{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 768px) {
  .git, .langages {
    display: none;
  }
}

.link-acc, .link-con, .link-pro, .link-exp{
    font-size: 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 8px;
    transition: 1s;
}
.link-acc:hover, .link-con:hover, .link-pro:hover, .link-exp:hover{
  text-shadow: -12px -4px 5px black;
  transition: 1s;
}


h1{
    margin: auto;
    max-width: 600px;
    padding-top: 17%;
    text-align: center;
    /* font-size: 70px; */
    letter-spacing: 20px;
    text-shadow: -9px 3px 10px;
    font-weight: 400;
}
h2{
  font-size: 300%;
  text-align: center;
  letter-spacing: 20px;
  text-shadow: 13px 12px 15px black;
}

#projets{
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#windows{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.window1{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 4px 0px 20px 2px #4b4bdb;
  height: 100vh;
  width: 50%;
  position: relative;
  right: 47%;
  transition: 1s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.window2{
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset -4px 0px 20px 2px #e63636;
  height: 100vh;
  width: 50%;
  position: relative;
  left: 47%;
  transition: 1s;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.window1:hover{
  transition: 1s;
  right: 0%;
  box-shadow: inset 0px 0px 0px 0px blue;
}
.window2:hover{
  transition: 1s;
  left: 0%;
  box-shadow: inset 0px 0px 0px 0px red;
}
.window1 img{
  position: absolute;
  top: 40%;
  left: 93%;
  transition: 0.5s;
}
.window1 img:hover{
  left: 96%;
  transition: 0.5s;
}
.window1 span{
  color: #5252dd;
}
.window2 span{
  color: #e65858;
}
.window2 img{
  position: absolute;
  top: 40%;
  right: 93%;
  transition: 0.5s;
  transform: rotate(180deg);
}
.window2 img:hover{
  right: 96%;
  transition: 0.5s;
}
.experiences{
  position: absolute;
  font-size: 30px;
  color: #5252dd;
  left: 87%;
  transform: rotate(270deg);
  top: 20%;
}
.diplomes{
  position: absolute;
  font-size: 30px;
  color: #e65858;
  right: 88%;
  transform: rotate(90deg);
  top: 20%;
}
.window1 div{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 102px;
  font-size: 25px;
  color: white;
}
.window1-text p{
  margin-top: 16px;
}
.window2 div{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 102px;
  font-size: 25px;
  color: white;
}
.window2-text p{
  margin-top: 30px;
}
footer{
  background-color: black;
  height: 100px;
  text-align: center;
}
h4{
  padding-top: 20px;
  color: white;
}
footer p{
  color: white;
  margin-top: 20px;
}
footer a{
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
@media only screen and (max-width: 768px){
h1{
  padding-top: 40%;
}
#contact{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.paraCo{
  font-size: 90%;
  width: auto;
}
.CV-picture{
  margin-top: unset;
  margin-right: auto;
  margin-left: auto;
}
.cooCV{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: auto;
}
.cooCV img{
  opacity: 1;
}
.cooCV img:hover{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 1;
  box-shadow: unset;
  transition: unset;
  transform: unset;
}
.CV{
  margin-top: 25px;
}
}

.button{
    position : relative ;
    z-index : 999;
    width : 20% ;
    height : 7vh ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}


.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line {
    position: absolute;
    top: 0;
    width: 5vw;
    height: 100%;
    overflow: hidden;
}

.button__line::before {
    content: '';
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 300px;
    border: solid 3px var(--line_color);
}

.button__line:nth-child(1),
.button__line:nth-child(1)::before {
    left: 0;
}

.button__line:nth-child(2),
.button__line:nth-child(2)::before {
    right: 0;
}

/* Media Queries pour ajuster les styles en fonction de la taille de l'écran */
@media (max-width: 768px) {
    .button__line {
        width: 10vw; /* Ajustement de la largeur pour les écrans plus petits */
    }
    .button__text {
        font-size: 12px; /* Ajustement de la taille de la police pour les écrans plus petits */
    }
    .button {
        width: 20%; /* Ajustement de la largeur pour les écrans plus petits */
    }
}

@media (max-width: 480px) {
    .button__line {
        width: 25vw; /* Ajustement de la largeur pour les écrans encore plus petits */
    }
    /* on décalle les lignes pour qu'elles soient visibles et qu'elles forment un seul et même bouton */
    .button__line:nth-child(1) {
        transform: translateX(-40px);
    }
    .button__line:nth-child(2) {
        transform: translateX(40px);
    }
    .button__text {
        font-size: 10px; /* Ajustement de la taille de la police pour les écrans encore plus petits */
    }
    .button {
       width : 30% ;

    }
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg );
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : var( --back_color ) ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}

.container_button{
    margin-top: 3vh;
    width : 100% ;
    height : 10vh ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}
.button:not(:last-child){
  margin-bottom : 64px ;
}

a {
  color: #fff;
  text-decoration: none;
}
.social {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 99;
}

.social ul {
  padding: 0px;
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}
.social ul li:hover {
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  transform: rotate(360deg);
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  transform: rotate(0deg);
}

.container_project {
  position: relative;
  width: 50vw ;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin-left : auto ;
  margin-right : auto ;
  margin-top : 15vh ;
}
.container_project .box {
  position: relative;
  width: 275px;
  height: 275px;
  border-radius: 15px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
  /* on ajoute une ombre */
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.container_project:hover .box {
  transform: rotateY(25deg);
}
.container_project .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container_project .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container_project .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container_project .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgb(99, 104, 253),#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container_project .box:hover .imgBx:before {
  opacity: 1;
}
.container_project .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container_project .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.container_project .box .content h4 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(300px);
  transition-delay: 0.3s;
}

.container_project .box:hover .content h4 {
  transform: translateY(0px);
}
.container_project .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(300px);
  transition-delay: 0.5s;
}
.container_project .box:hover .content p {
  transform: translateY(0px);
}

.container_project .box .content img {
  transition: 0.5s;
  transform: translateY(300px);
  transition-delay: 0.4s;
}
.container_project .box:hover .content img {
  transform: translateY(0px);
}
